# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Anderson Danilo
    email = contact@andersondanilo.com
	signingkey = 614C8C06DE5CB261AFC3EEE257F3E6589075F87C
[core]
    excludesfile = ~/.gitignore_global
[alias]
    changelog = log --pretty=format:'- %s (%h) (%ae) - %cd' --date=short
    clean-merged = "!git branch --merged origin/master | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
    sync = "!git pull --ff-only && git push"
[commit]
	gpgsign = true
[pull]
	ff = only
